/* CSS Variables */
:root {
    --normal-font: 400;
    --medium-font: 500;
    --bold-font: 600;
    --bolder-font: 900;
    --transition: 0.4s ease-in;
    --line-height: 1.8;
}

// colors 
$c-0487d9: #4087d9;
$c-091B40: #091B40;
$c-d0e9f2: #d0e9f2;

// responsive variable
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$mxl: 1800px;

// section top bottom padding 
