@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap");

@import "./partials/links";

/* Smooth scroll effect */
html {
    scroll-behavior: smooth;
}

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
}

// common styles
body {
    font-family: "Montserrat", sans-serif;
    background: #ffffff 0% 0% no-repeat padding-box;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

input,
textarea {
    width: 100%;
    /* height: 2.5rem; */
    border: 1px solid #9c9c9c;
    border-radius: 6px;
    outline: none;
    padding: 10px;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}

input:focus,
textarea:focus {
    outline: none;
    border: 1px solid black;
}

::placeholder {
    font-family: "Montserrat", sans-serif;
}

footer {
    background: black;
    height: 7rem;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    font-size: 1.2rem;
    padding-bottom: 5px;
}

.hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #1c418c;
    border-radius: 10px;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover {
    color: #1c418c;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.lets-talk-btn {
    color: #ffffff;
    background: #091b40 0% 0% no-repeat padding-box;
    border: 1px solid #091b40;
    text-align: center;
    padding: 15px 6rem;
    border-radius: 6px;
    font-size: 1rem;
    transition: background-color 0.3s;
    &:hover {
        background-color: #01308f;
    }
    @include resp($sm) {
        font-size: 1.5rem;
    }
    @include resp($lg) {
        border-radius: 10px;
        // padding-left: 3rem;
        // padding-right: 3rem;
    }
    @include resp($xl) {
        @include py(20px, 20px);
    }
}

header,
main,
section {
    width: 100%;
    padding: 1rem 1.5rem;
    @include resp($xl) {
        padding: 2rem 3rem;
        max-width: 1800px;
    }
}

// responsive menu buttons -----------------------------------

.hamburger-menu {
    // display: none;
    display: block;
    @include resp($lg) {
        display: none;
    }
    div {
        width: 30px;
        height: 4px;
        background-color: #333;
        margin: 5px 0;
        border-radius: 2px;
        transition: 0.4s;
    }
    // responsive nav animation
    @at-root .change {
        div {
            &:nth-child(1) {
                transform: rotate(-45deg) translate(-7px, 6px);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: rotate(45deg) translate(-6px, -6px);
            }
        }
    }
}

.visible {
    visibility: visible !important;
    opacity: 1 !important;
}

p {
    font-size: 1rem;
    opacity: 0.8;
    line-height: 1.5;
    @include resp($sm) {
        font-size: 1.1rem;
    }
    @include resp($lg) {
        font-size: 1.35rem;
    }
    @include resp($xxl) {
        font-size: 1.5rem;
    }
}

// navbar -----------------------------------
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    ul {
        visibility: hidden;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 67px;
        right: 0px;
        left: -1.5rem;
        z-index: 1;
        padding: 2rem;
        width: calc(100% + 3rem);
        background: white;
        box-shadow: 0 8px 6px -6px rgb(174, 172, 172);
        transition: all 0.3s ease-in-out 0.05s;
        // navbar links
        @include resp($lg) {
            visibility: visible;
            opacity: 1;
            flex-flow: row wrap;
            position: initial;
            box-shadow: initial;
            padding: 0px;
            width: initial;
            column-gap: 2rem;
        }
        @include resp($xl) {
            column-gap: 4rem;
        }
        @include resp($xxl) {
            column-gap: 6rem;
        }
        .nav-item {
            padding-bottom: 1rem;
            padding-top: 1rem;
            @include resp($lg) {
                @include py();
            }
        }
        .nav-link {
            font-weight: var(--medium-font);
        }
        .lets-talk-btn {
            @include resp($lg) {
                @include px(3rem, 3rem);
            }
            // @include resp($mxl) {
            //     @include px(6rem, 6rem);
            // }
        }
    }
}

.logo {
    font-size: 2rem;
    font-weight: var(--medium-font);
    span {
        font-weight: var(--bolder-font);
        margin-left: -9px;
    }
}

// main section ----------------------------------
#about {
    @include resp($lg) {
        height: calc(100vh - 92px);
        display: flex;
        align-items: center;
        // justify-content: space-between;
        @include resp($xl) {
            height: calc(100vh - 125px);
        }
    }
    .container {
        @include resp($lg) {
            width: 100%;
        }
        .wrapper {
            @include resp($lg) {
                display: flex;
                align-items: center;
                margin-top: -50px;
            }
            @include resp($xl) {
                margin-top: -90px;
            }
            @include resp($xxl) {
                margin-top: 0px;
            }
        }
        .text {
            margin-top: 70px;
            text-align: center;
            @include resp($lg) {
                flex-basis: 50%;
                margin-top: 0px;
                text-align: left;
            }
            .dis-1 {
                color: #4087d9;
                font-size: 1.6rem;
                font-weight: var(--bold-font);
                @include resp($sm) {
                    font-size: 2.3rem;
                }
                @include resp($xl) {
                    font-size: 2.7rem;
                }
                @include resp($mxl) {
                    font-size: 4.3rem;
                }
            }
            .dis-2 {
                font-size: 3rem;
                color: $c-0487d9;
                font-weight: var(--bolder-font);

                @include resp($sm) {
                    font-size: 4rem;
                }
                @include resp($xl) {
                    margin-bottom: 10px;
                    font-size: 5rem;
                }
                @include resp($mxl) {
                    font-size: 7rem;
                }
            }
            .dis-3 {
                font-size: 1.5rem;
                font-weight: var(--bold-font);
                @include py(0.4rem, 0.4rem);
                @include resp($sm) {
                    font-size: 2rem;
                }
                @include resp($xl) {
                    font-size: 2.7rem;
                }

                @include resp($mxl) {
                    font-size: 3.3rem;
                    @include my(40px, 40px);
                }
            }
            .des {
                max-width: 600px;
                @include my(25px, 35px);
                @include mx(auto, auto);
                @include resp($lg) {
                    @include mx(initial, initial);
                }
                @include resp($xxl) {
                    margin-bottom: 50px;
                }
                @include resp($mxl) {
                    margin-bottom: 80px;
                }
            }
            .call-to-action {
            }
        }
        .image {
            margin-top: 50px;
            // max-width: 350px;
            text-align: center;
            @include resp($md) {
                margin-top: 75px;
            }
            @include resp($lg) {
                flex-basis: 50%;
                text-align: right;
                margin-top: 0px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
            img {
                width: 80%;
                @include resp($md) {
                    // max-width: 400px;
                    width: 70%;
                }
                @include resp($lg) {
                    width: 95%;
                }
                @include resp($xl) {
                    width: initial;
                    max-width: 575px;
                }
                @include resp($mxl) {
                    max-width: 750px;
                }
            }
        }
    }
}

// icon sections ---------------------------------------
#intro-icons {
    .container {
        .icon-wrap {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
            @include py(35px, 50px);
            @include resp($sm) {
                grid-template-columns: repeat(3, 1fr);
            }
            @include resp($lg) {
                grid-template-columns: repeat(6, 1fr);
            }
            div {
                display: flex;
                flex-direction: column;
                font-size: 1rem;
                font-weight: 500;
                text-align: center;
                &:nth-child(5) {
                    img {
                        height: 55px;
                        @include resp($xxl) {
                            height: 63px;
                        }
                    }
                }
                img {
                    height: 72px;
                    margin-bottom: 1rem;
                    @include resp ($mxl) {
                        height: 90px;
                    }
                }
                span {
                    font-size: 1rem;
                }
            }
        }
    }
}
