.lets-talk-btn {
  font-size: 1rem;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media only screen and (min-width: 576px) {
  .lets-talk-btn {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .nav {
    padding: 1rem 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  .nav {
    padding: 2rem 4rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #about {
    padding: 0rem 2rem;
  }
}
@media only screen and (min-width: 992px) {
  #about {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
#about .introduction {
  height: 125vh;
  min-height: 700px;
  max-height: 865px;
}
@media only screen and (min-width: 992px) {
  #about .introduction {
    height: calc(100vh - 113px);
    min-height: 550px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
#about .introduction .intro-text {
  margin-top: 70px;
}
@media only screen and (min-width: 992px) {
  #about .introduction .intro-text {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 1400px) {
  #about .introduction .intro-text {
    flex-basis: 55%;
  }
}
@media only screen and (min-width: 992px) {
  #about .introduction .intro-text .leadership-level {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 992px) and (min-width: 1400px) {
  #about .introduction .intro-text .leadership-level {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 992px) and (min-width: 1800px) {
  #about .introduction .intro-text .leadership-level {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 992px) {
  #about .introduction .intro-text .expertise {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 992px) and (min-width: 1400px) {
  #about .introduction .intro-text .expertise {
    font-size: 3.8rem;
  }
}
@media only screen and (min-width: 992px) and (min-width: 1800px) {
  #about .introduction .intro-text .expertise {
    font-size: 4.5rem;
  }
}
@media only screen and (min-width: 992px) {
  #about .introduction .intro-text .when-you-need-it {
    font-size: 1.5rem;
    padding: 1.5rem 0px;
  }
}
@media only screen and (min-width: 992px) and (min-width: 1400px) {
  #about .introduction .intro-text .when-you-need-it {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 992px) and (min-width: 1800px) {
  #about .introduction .intro-text .when-you-need-it {
    font-size: 2rem;
    padding: 2.5rem 0px;
  }
}
@media only screen and (min-width: 992px) {
  #about .introduction .intro-text .when-you-need-it .intro-text {
    margin-top: 70px;
  }
}
@media only screen and (min-width: 992px) and (min-width: 992px) {
  #about .introduction .intro-text .when-you-need-it .intro-text {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 992px) and (min-width: 1400px) {
  #about .introduction .intro-text .when-you-need-it .intro-text {
    flex-basis: 55%;
  }
}
@media only screen and (min-width: 992px) and (min-width: 992px) {
  #about .introduction .intro-text .when-you-need-it .intro-text .leadership-level {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 992px) and (min-width: 992px) and (min-width: 1400px) {
  #about .introduction .intro-text .when-you-need-it .intro-text .leadership-level {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 992px) and (min-width: 992px) and (min-width: 1800px) {
  #about .introduction .intro-text .when-you-need-it .intro-text .leadership-level {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 992px) and (min-width: 992px) {
  #about .introduction .intro-text .when-you-need-it .intro-text .expertise {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 992px) and (min-width: 992px) and (min-width: 1400px) {
  #about .introduction .intro-text .when-you-need-it .intro-text .expertise {
    font-size: 3.8rem;
  }
}
@media only screen and (min-width: 992px) and (min-width: 992px) and (min-width: 1800px) {
  #about .introduction .intro-text .when-you-need-it .intro-text .expertise {
    font-size: 4.5rem;
  }
}
@media only screen and (min-width: 992px) and (min-width: 992px) {
  #about .introduction .intro-text .when-you-need-it .intro-text .when-you-need-it {
    font-size: 1.5rem;
    padding: 1.5rem 0px;
  }
}
@media only screen and (min-width: 992px) and (min-width: 992px) and (min-width: 1400px) {
  #about .introduction .intro-text .when-you-need-it .intro-text .when-you-need-it {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 992px) and (min-width: 992px) and (min-width: 1800px) {
  #about .introduction .intro-text .when-you-need-it .intro-text .when-you-need-it {
    font-size: 2rem;
    padding: 2.5rem 0px;
  }
}
@media only screen and (min-width: 992px) {
  #about .introduction .intro-text .when-you-need-it .about-description {
    margin-top: 25px;
    margin-bottom: 35px;
    max-width: 600px;
  }
}
@media only screen and (min-width: 992px) and (min-width: 992px) {
  #about .introduction .intro-text .when-you-need-it .about-description {
    font-size: 1.2rem;
    margin-top: 0px;
    padding-right: 40px;
  }
}
@media only screen and (min-width: 992px) and (min-width: 1400px) {
  #about .introduction .intro-text .when-you-need-it .about-description {
    font-size: 1.35rem;
    max-width: initial;
  }
}
@media only screen and (min-width: 992px) and (min-width: 1800px) {
  #about .introduction .intro-text .when-you-need-it .about-description {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 992px) {
  #about .introduction .intro-text .when-you-need-it .intro-image img {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (min-width: 1200px) {
  #about .introduction .intro-text .when-you-need-it .intro-image img {
    max-width: 500px;
    display: inline-block;
  }
}
@media only screen and (min-width: 992px) and (min-width: 1400px) {
  #about .introduction .intro-text .when-you-need-it .intro-image img {
    max-width: 600px;
  }
}
@media only screen and (min-width: 992px) and (min-width: 1800px) {
  #about .introduction .intro-text .when-you-need-it .intro-image img {
    max-width: 650px;
    margin-top: -50px;
  }
}
#about .introduction .intro-text .about-description {
  margin-top: 25px;
  margin-bottom: 35px;
  max-width: 600px;
}
@media only screen and (min-width: 992px) {
  #about .introduction .intro-text .about-description {
    font-size: 1.2rem;
    margin-top: 0px;
    padding-right: 40px;
  }
}
@media only screen and (min-width: 1400px) {
  #about .introduction .intro-text .about-description {
    font-size: 1.35rem;
    max-width: initial;
  }
}
@media only screen and (min-width: 1800px) {
  #about .introduction .intro-text .about-description {
    font-size: 1.5rem;
  }
}
#about .introduction .intro-text .intro-image img {
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  #about .introduction .intro-text .intro-image img {
    max-width: 500px;
    display: inline-block;
  }
}
@media only screen and (min-width: 1400px) {
  #about .introduction .intro-text .intro-image img {
    max-width: 600px;
  }
}
@media only screen and (min-width: 1800px) {
  #about .introduction .intro-text .intro-image img {
    max-width: 650px;
    margin-top: -50px;
  }
}
#about .introduction .call-to-action {
  position: initial;
}
#about .introduction .call-to-action a {
  display: inline-block;
}
#about .intro-icons {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 20px;
}
@media only screen and (min-width: 576px) {
  #about .intro-icons {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 992px) {
  #about .intro-icons {
    grid-template-columns: repeat(6, 1fr);
    padding-top: 65px;
    padding-bottom: 65px;
  }
}
@media only screen and (min-width: 1400px) {
  #about .intro-icons {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
#about .intro-icons div {
  padding-top: 0px;
}
@media only screen and (min-width: 1400px) {
  #about .intro-icons div img {
    height: 80px;
  }
}
@media only screen and (min-width: 1800px) {
  #about .intro-icons div img {
    height: 100px;
  }
}
#about .intro-icons div:nth-child(5) img {
  height: 55px;
}
@media only screen and (min-width: 1400px) {
  #about .intro-icons div:nth-child(5) img {
    height: 63px;
  }
}
@media only screen and (min-width: 1800px) {
  #about .intro-icons div:nth-child(5) img {
    height: 85px;
  }
}
#about .services .project-blueprints, .services #about .project-blueprints, #about .services .services-by-leader, .services #about .services-by-leader, #about .services .fractional-cto, .services #about .fractional-cto {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media only screen and (min-width: 992px) {
  #about .services .project-blueprints, .services #about .project-blueprints, #about .services .services-by-leader, .services #about .services-by-leader, #about .services .fractional-cto, .services #about .fractional-cto {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
@media only screen and (min-width: 1800px) {
  #about .services .project-blueprints, .services #about .project-blueprints, #about .services .services-by-leader, .services #about .services-by-leader, #about .services .fractional-cto, .services #about .fractional-cto {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (min-width: 992px) {
  .services .fractional-cto {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.text-wrap {
  margin-top: 30px;
}
@media only screen and (min-width: 992px) {
  .text-wrap {
    margin-top: 45px;
  }
}
@media only screen and (min-width: 1800px) {
  .text-wrap {
    margin-top: 60px;
  }
}
.text-wrap p {
  text-align: justify;
  padding-bottom: 0px;
  padding-top: 20px;
}
@media only screen and (min-width: 992px) {
  .text-wrap p {
    padding-top: 30px;
  }
}
.text-wrap p:first-child {
  padding-top: 10px;
}
.text-wrap p:first-child::first-letter {
  line-height: 16px;
  font-size: 50px;
}
@media only screen and (min-width: 992px) {
  .text-wrap p {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1800px) {
  .text-wrap p {
    font-size: 1.5rem;
  }
}

.services .services-by-leader {
  padding-bottom: 40px;
}
.services .project-blueprints {
  padding-top: 0px;
}
.services .project-blueprints .project-blueprints-img {
  text-align: center;
}
.services .project-blueprints .project-blueprints-img img {
  height: initial;
  max-width: 300px;
}

/*# sourceMappingURL=responsive.css.map */
